html,
body {
  margin: 0;
  padding: 0;
}
.area {
  background-color: #9b9999;
  width: 1000px;
  height: 400px;
  position: relative;
}
.area .box {
  background-color: #000;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
