html,
body {
  margin: 0;
  padding: 0;
}
textarea:focus,
input:focus {
  outline: none;
}
.area {
  background-color: #9b9999;
  width: 100%;
  height: 400px;
  position: relative;
}
.area .box {
  background-color: #000;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.area .box .content {
  min-width: 200px;
  min-height: 170px;
  background-color: #e5e77a;
  border: 0px solid #fff;
  cursor: pointer;
}
.area .box .header {
  width: 200px;
  height: 25px;
  border: 0px solid #fff;
  background-color: #99e77a;
  cursor: pointer;
}
.btn {
  position: absolute;
  bottom: 5px;
  left: 50px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  width: 100px;
  height: 30px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
}
