//out: ../css/notes.css

.notes{

    .area{
        background-color: rgb(155, 153, 153);
        width: 100%;
        height: 400px;
        position: relative;
        .box{
            background-color: #000;
            //width: 200px;
            //height: 200px;
            position: absolute;
            top: 0;
            left: 0;
            color:#fff;
            display: flex;
            flex-direction: column;
            //justify-content: center;
            //align-items: center;
            cursor: pointer;
            //background-image: url(../img/box-img.png);
    
            .content{
                min-width: 200px;
                min-height: 170px;
                //background-color: rgb(229, 231, 122);
                border: 0px solid #fff;
                cursor: pointer;
    
            }
            .header{
                width: 200px;
                height: 25px;
                border: 0px solid #fff;
                //background-color: rgb(153, 231, 122);
                cursor: pointer;
            }
        }
    }
    .btn{
        position: absolute;
        bottom: 5px;
        left: 50px;
        text-align: center;
        padding: 5px;
        margin: 10px;
        width: 100px;
        height: 30px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        border-radius: 7px;
    
    }
    .search{
        position: absolute;
        bottom: 20px;
        left: 200px;
        .search-notes{
            width: 200px;
        }
    }
}